nav {
  background-color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand > a {
  font-size: 24px;
  color: #0290ff;
  font-weight: bolder;
}

.nav-ul {
  display: flex;
}

.nav-ul > li {
  margin-left: 16px;
}

.nav-ul > li > a {
  padding: 20px;
  display: block;
}

.user {
  width: 2.813rem;
  height: 2.813rem;
  margin: 0 0 0 41.5rem;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
}

.icon {
  color: #0290ff;
}
